{% extends 'base.html' %}
{% block menu %}

{% endblock %}

{% block title %}
    Создание задачи
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">

            <div class="head_text heading text-center">
                <p class="main-title-home">TO DO ADD</p>
                <p class="about-game">страница добавления задачи</p>
            </div>

           <form action="{% url 'task_add' %}" method="POST">
               {% csrf_token%}

               <div class="form">
                    {% include 'partials/task_form_partial.html' with button_text='Создать' %}
               </div>
           </form>
        </div>
    </div>
{% endblock %}


