{% extends 'base.html' %}
{% block title %}
    Delete:{{ task.task_text }}
{% endblock %}
{% block menu %}
    <a href="{% url 'task_add' %}">Создать задачу</a>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">

            <div class="head_text heading text-center">
                <p class="main-title-home">TO DO DELETE</p>
            </div>

            <div class="head_text heading text-center">
                <p class="about-game">задача удалена</p>
                <p class="about-game">вернитесь на главную странцу</p>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-4 text-center">
                    <a href="{% url 'index' %}"><button type="submit" class="btn btn-outline-secondary"><i class="fa fa-home"></i></button></a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}